<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeamBusCas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BeamBusCas.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BeamBusCas.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>27000</value>
            </setting>
            <setting name="Recording_path" serializeAs="String">
                <value>../../../BeamBusCas/CAS_HAKATON.rec</value>
            </setting>
        </BeamBusCas.Properties.Settings>
        <BeamBusCas.Settings1>
            <setting name="IP" serializeAs="String">
                <value>10.0.0.5</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>27000</value>
            </setting>
            <setting name="Recording_path" serializeAs="String">
                <value>@"C:\Users\Rageb\Desktop\האקויק ראגב\CAS_HAKATON.rec"</value>
            </setting>
        </BeamBusCas.Settings1>
    </userSettings>
</configuration>