<div class="card">
  <div class="card-header text-center">
    Own Boat Data {{ownboatTime}}
  </div>
  <div class="card-body" style="background-color: green">
    <ul class="list-group text-left">
      <li class="list-group-item">Roll : {{ roll }}</li>
      <li class="list-group-item">Pitch : {{ pitch }}</li>
      <li class="list-group-item">Course Overe Ground : {{ course_overe_ground }}</li>
      <li class="list-group-item">Heave : {{ heave }}</li>
      <li class="list-group-item">Heading : {{ heading }}</li>
     </ul>
  </div>
</div>
